@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

a {
    color: black;
}

button {
    cursor: pointer;
}

button, select, input:not([type='radio']) {
    height: 3vh;
    padding: 0 1rem;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.wrapper-flex {
    display: flex;
    align-items: center;
}

table {
    width: 100%;
}
table th, table td {
    padding: 1rem 2rem;
    text-align: left;
    vertical-align: middle;
}
table tbody tr:hover {
    background-color: #212121;
    color: #c1c1c1;
}
table tbody tr:hover a {
    color: #c1c1c1;
}
@media (max-width: 1400px) {
    table th, table td {
        padding: 1rem .2rem;
    }
}

table a {
    font-size: small;
}

.input-field {
    margin: 1rem 0;
}

.form label {
    display: inline-block;
    padding-right: 1rem;
    width: 200px;
    text-align: right;
}

.form .form-send, .form h3 {
    padding-left: 200px;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.content {
    padding: 1vw;
}

header {
    position: relative;
    background-color: #212121;
    color: #c1c1c1;
}
header .content {
    padding: 0 1vw;
}
header h2 {
    margin: 0;
    padding: 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
}
header .nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
header .nav li a {
    display: flex;
    align-items: center;
    padding: 25px 35px;
}
header .nav li a:hover, header .nav li a.active {
    background-color: rgba(255, 255, 255, .1);
    text-decoration: none;
}
header a {
    color: #c1c1c1;
}
header .wrapper-flex {
    justify-content: space-between;
}







/*@import "~materialize-css/dist/css/materialize.min.css";*/


/*input.yellow-input {*/
/*  border-bottom: 1px solid #fff!important;*/
/*  box-shadow: 0 1px 0 0 #fff!important;*/
/*}*/

/*input.yellow-input + label {*/
/*  color: #ffffff!important;*/
/*}*/

/*input.yellow-input:focus + label {*/
/*  color: #ffeb3b!important;*/
/*}*/

/*input.yellow-input:focus {*/
/*  border-bottom: 1px solid #ffeb3b!important;*/
/*  box-shadow: 0 1px 0 0 #ffeb3b!important;*/
/*}*/
/*!*-------------------------------*!*/
/*@media only screen and (max-width: 992px) {*/
/*  nav .brand-logo {*/
/*    font-size: 130%;*/
/*  }*/
/*  .hide-on-med-and-down.isMenu {*/
/*    display: flex !important;*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 0;*/
/*    flex-direction: column;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    background-color: white;*/
/*    z-index: 200;*/
/*  }*/
/*  .hide-on-med-and-down.isMenu li a {*/
/*    color: black;*/
/*    display: flex;*/
/*    border-top: 1px solid #596972;*/
/*  }*/
/*}*/

